*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: #270641;

}
.container{
    width: 250px;
    height: 150px;
    border: 3px solid #fbcd75;
    background-color: white;
}
header h1{
    color: #fbcd75;
    font-size: 2.5rem;;
}
header{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}
main{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 12px;
    padding: 5%;
}
.tarefa-title{
    font-size: 24px;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
}
header button{
    background-color: #fbcd75;
    width: 10rem;
    height: 2.5rem;
    border: none;
    color: #270641;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.acoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.button-acoes{
    border: none;
    background-color: transparent;
}
.info{
    width: 400px;
    height: 400px;
    background-color: #270641;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #fbcd75 solid 1px;
    gap: 1rem;
    visibility: hidden;
    /* justify-content:space-between ; */
}
.info h1{
    color: #fbcd75;
    /* margin-bottom: 40px; */
}
.info label{
    color: #fff;
}
.input-descricao{
    height: 50px;
}
.botao-concluir{
    margin-top: 2rem;
    background-color: #fbcd75;
    width: 7rem;
    height: 2rem;
    border: none;
    color: #270641;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;

}
.mostrar{
    visibility: visible;
}